#IndexContent p {
  font-family: Georgia, Helvetica, Arial;
  color: white;
  text-align: center;
  font-size:10px;
  padding-left:20px;
  padding-right:20px;
  margin-top:-47px;
  margin-bottom:47px;}

  #IndexContent img{
    width:320px;
    height:291px;
    margin-bottom:30px;}

@media screen and (min-width: 1200px) {
  #IndexContent{
    width:1200px;
    display:flex;
    flex-wrap:wrap;
    margin-left:2%;
  }
  #IndexContent p {
    font-family: Georgia, Helvetica, Arial;
    color: white;
    text-align: center;
    padding-left:20px;
    padding-right:20px;
    width: 510px; 
    margin-top:-36px;
    margin-bottom:36px;
    font-size:unset;}

    #IndexContent img{
      width:550px;
      height:500px;
      margin-bottom:30px;
      margin:10px;}}